*{
	margin: 0 ;
	padding: 0 ;
}

html{
	font-size: 10px;
}



/* 테이블 기본설정 */
.board_table_wrap {
	width : 1000px;
	margin : 100px auto;
}

.board_header{
	margin-bottom: 30px;
}

.board_header strong{
	font-size: 3rem !important;
}

.board_header p{
	margin-top: 5px;
	font-size: 1.4rem;
}

.board_get_wrap {
	width: 100%;
	border-top: 2px solid #000;
	font-size: 1.4rem;
}


.board_get_wrap .title{
	padding: 20px 15px;
	border-bottom: 1px dashed #ddd;
	font-size: 2rem;
}

.board_get_wrap .board_info{
	padding: 20px 15px;
	border-bottom: 1px dashed #ddd;
	font-size: 2rem;
}

.board_get_wrap .board_info{
	padding: 15px;
	border-bottom: 1px solid #999;
	font-size: 0;
}

.board_get_wrap .board_info dl{
	position : relative;
	display: inline-block;
	padding: 0 20px;
}

.board_get_wrap .board_info dl:first-child{
	padding-left: 0;
}

.board_get_wrap .board_info dl::before{
	content: "";
	position: absolute;
	top:1px;
	left: 0;
	display: block;
	width: 1px;
	height: 13px;
	background: #ddd;	
}

.board_get_wrap .board_info dl:first-child::before{
	display: none;
}

.board_get_wrap .board_info dl dt,
.board_get_wrap .board_info dl dd{
	display: inline-block;
	font-size: 1.4rem;
}

.board_get_wrap .board_info dl dt{
	display: inline-block;
}

.board_get_wrap .board_info dl dd{
	margin-left: 10px;
	color: #777;
}

.board_get_wrap .board_content{
	padding: 15px;
	border-bottom: 1px solid #000;
	line-height: 160%;
	font-size: 1.4rem;
}

/* 버튼 css */
.btn_wrap {
    margin-top: 30px ;
    text-align: center;
    font-size: 0;
}

.btn_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px !important;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.btn_wrap a:first-child{
	margin-left: 0 !important;
}

.btn_wrap a.list_btn{
	background: #000;
	color: #fff !important;
	text-decoration: none;
} 

.btn_wrap a.update_btn{
	color: #000 ;
	text-decoration: none;
}